main {
    article {
        color: rgb(229, 206, 34);
        background: rgb(10, 112, 213);

        aside {
            color: rgb(39, 23, 224);
            background-color: rgb(240, 213, 31);
        }
    }
}